Email_message+113.33.03: Parse Mime string with multiline Content-Type issue

`Email.of_string` does not correctly parse the Content-type of a mime string. If the Content-type is multipart and the boundary is denoted on a new line, then `Email.of_string` will parse this mime string such that the content of the email is of the type `Email.Content.Data` instead of the expected `Email.Content.Multipart` type. Furthermore, if the boundary is not declared on a new line then `Email.of_string` will parse the mime string as expected. 

[Here is a gist showcasing the issue](https://gist.github.com/bradlangel/8d44d812e194eb14ad108650450f5e48)

[RFC2046](https://www.ietf.org/rfc/rfc2046.txt) declares that the boundary can be on a newline. And on Pg. 26 of the RFC there is an example of this multiline content-type.


Multiline headers must be folded using whitespace directly after the CRLF (we are lenient to allow just LF, too). This is mentioned in [RFC2822](https://www.ietf.org/rfc/rfc2822.txt) (section 2.2.3). In your example, if you add any whitespace after the LF the assertions will pass.

Thanks for pointing me to RFC2822 (section 2.2.3). I've revised my [gist](https://gist.github.com/bradlangel/8d44d812e194eb14ad108650450f5e48) to include the whitespace directly after the LF, however, this still results in the multi-line assertion failing. Locally, I changed LF(\n) to be CRLF(\r\n) and again the assertion failed.

113.33.03 is almost a year old and there have been some changes to the parsing recently. The assertion does not fail on 114.35+03

Okay thanks! When are you planning to release 114.35 to [opam's repository](http://opam.ocaml.org/packages/email_message/)?

@bradlangel the next stable release of JS packages is coming soon. It's basically ready but it's taking a bit of time to merge it due to the number of packages (~100). It should reach opam next week